
body {
    background-image: url(./images/pexels-jeshoots-4825.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left bottom;
    margin: 0;
    font-family: sans-serif;
}

#mainCard {
    background-color: rgb(55, 55, 55);
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 2px solid silver;
}

#head{
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
}

#answerBox {
    text-align: center;
    width: 80%;
    min-height: 100px;
    border: 2px solid silver;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background: linear-gradient(to left, rgba(255, 115, 119) 0%, rgba(255, 255, 255) 50%, rgba(255, 115, 119) 100%);
}

#answerBox ul {
    text-align: start;
}

#buttonBox {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 20px;
}

.bold{
    font-size: 20px;
    font-weight: 600;
}

button{
    width: 30%;
    height: 30px;
    margin: 10px auto 10px auto;
    border: 1px solid silver;
    background-color: rgb(221, 59, 59);
    color: white;
    border-radius: 4px;
    box-shadow:  1px 1px 5px black;
}

